html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  background: linear-gradient(-90deg, #0d1c19 1px, transparent 1px),
    linear-gradient(#0d1c19 1px, transparent 1px), #000a08;
  background-size: 4em 4em;
  font-size: 20px;
}
.console,
.console::after {
  position: absolute;
  border-style: solid;
  border-radius: 1em;
  animation-duration: 800ms;
  animation-fill-mode: both;
}
.console {
  top: 50%;
  left: 50%;
  border-width: 0.1em 0;
  border-color: #abebde;
  transform: translate(-50%, -50%);
  animation-name: console;
}
.console::after {
  content: "";
  display: block;
  right: 0;
  left: 0;
  border-width: 1px 0;
  border-color: #527a72;
  animation-name: console-inner;
  animation-delay: 300ms;
}
.console-area {
  position: absolute;
  border: 0.1em solid #527a72;
  perspective: 50em;
  animation-name: area;
  animation-duration: 600ms;
  animation-fill-mode: both;
}
.console-area-top {
  bottom: 22em;
  border-top: none;
  border-radius: 0 0 2em 2em;
}
.console-area-right {
  right: 0;
  border-left: none;
}
.console-area-bottom {
  top: 22em;
  border-bottom: none;
  border-radius: 2em 2em 0 0;
}
.console-area-left {
  left: 0;
  border-right: none;
}
.console-area-top.console-area-left {
  animation-delay: 1000ms;
}
.console-area-top.console-area-right {
  animation-delay: 800ms;
}
.console-area-bottom.console-area-left {
  animation-delay: 900ms;
}
.console-area-bottom.console-area-right {
  animation-delay: 1100ms;
}
.console-content {
  animation-name: content;
  animation-duration: 100ms;
  animation-delay: 1700ms;
  animation-iteration-count: 3;
  animation-timing-function: linear;
  animation-fill-mode: both;
}
.console-scope {
  position: relative;
  top: 2em;
  width: 18em;
  height: 8em;
  overflow: hidden;
}
.console-waves {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 111em;
  margin: 1em 0;
  padding: 0;
  transform-origin: top left;
  animation-name: waves;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.console-waves li {
  position: relative;
  width: 10em;
  height: 5em;
}
.console-waves li::before,
.console-waves li::after {
  content: "";
  display: block;
  position: absolute;
  width: 5em;
  height: 5em;
  border-width: 0.2em 0.2em 0 0;
  border-style: solid;
  border-color: #005f4c;
  border-radius: 0 2em 0 0;
}
.console-waves li::before {
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}
.console-waves li::after {
  top: -2em;
  left: 5.1em;
  transform: rotate(135deg);
}
.console-holo {
  position: relative;
  top: 1em;
  left: 3em;
  width: 7em;
  height: 10em;
  border-width: 0 0.1em;
  border-style: solid;
  border-color: #005f4c;
  animation-name: holo-wall;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.console-holo::before,
.console-holo::after {
  content: "";
  display: block;
  position: absolute;
  right: -1em;
  left: -1em;
  height: 1em;
  border: 0.1em solid #005f4c;
  border-radius: 50%;
  animation-name: holo-cap;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.console-holo::before {
  top: -0.5em;
}
.console-holo::after {
  bottom: -0.5em;
}
.console-bars {
  list-style-type: none;
  position: relative;
  top: 4em;
  left: 3em;
  margin: 0;
  padding: 0;
}
.console-bars li {
  height: 0.5em;
  margin: 1em 0;
  background: linear-gradient(90deg, #005f4c 2em, transparent 1em);
  background-size: 3em;
  opacity: 0.6;
  animation-name: bar;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}
.console-bars li:nth-child(2) {
  animation-delay: -1s;
}
.console-bars li:nth-child(3) {
  animation-delay: -2s;
}
.console-bars li:nth-child(4) {
  animation-delay: -3s;
}
.console-bars li:nth-child(5) {
  animation-delay: -4s;
}
.console-bars li:nth-child(6) {
  animation-delay: -5s;
}
.console-ball {
  list-style-type: none;
  position: relative;
  top: 3.5em;
  left: 1em;
  width: 10em;
  height: 10em;
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
  animation-name: ball;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.console-ball li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.2em dotted #005f4c;
  border-radius: 50%;
}
.console-ball li:nth-child(2) {
  transform: rotateY(30deg);
}
.console-ball li:nth-child(3) {
  transform: rotateY(60deg);
}
.console-ball li:nth-child(4) {
  transform: rotateY(90deg);
}
.console-ball li:nth-child(5) {
  transform: rotateY(120deg);
}
.console-ball li:nth-child(6) {
  transform: rotateY(150deg);
}
.console-ball li:nth-child(7) {
  transform: rotateY(180deg);
}
.console-ball li:nth-child(8) {
  transform: rotateY(210deg);
}
.console-ball li:nth-child(9) {
  transform: rotateY(240deg);
}
.console-ball li:nth-child(10) {
  transform: rotateY(270deg);
}
.console-ball li:nth-child(11) {
  transform: rotateY(300deg);
}
.console-ball li:nth-child(12) {
  transform: rotateY(330deg);
}
.console-centerpiece-corner,
.console-centerpiece-corner::before {
  position: absolute;
  border-style: solid;
  border-color: #527a72;
}
.console-centerpiece-corner {
  top: 20em;
  overflow: hidden;
  animation-name: corner;
  animation-duration: 600ms;
  animation-delay: 1200ms;
  animation-fill-mode: both;
}
.console-centerpiece-corner::before {
  content: "";
  display: block;
  top: -0.1em;
  width: 8em;
  height: 8em;
}
.console-centerpiece-corner-left {
  border-width: 0.1em 0 0 0.1em;
  left: 14em;
  transform: rotate(-45deg) skew(-10deg, -10deg);
  transform-origin: top left;
}
.console-centerpiece-corner-left::before {
  left: -0.1em;
  border-width: 0.4em 0 0 0.4em;
}
.console-centerpiece-corner-right {
  border-width: 0.1em 0.1em 0 0;
  right: 14em;
  transform: rotate(45deg) skew(10deg, 10deg);
  transform-origin: top right;
}
.console-centerpiece-corner-right::before {
  right: -0.1em;
  border-width: 0.4em 0.4em 0 0;
}
.console-centerpiece {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: centerpiece;
  animation-duration: 600ms;
  animation-delay: 1400ms;
  animation-fill-mode: both;
}
.console-centerpiece::before,
.console-centerpiece::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border: 0.8em solid #005f4c;
  border-left-width: 0;
  border-bottom-width: 0;
  border-radius: 0 100% 0 0;
  opacity: 0.6;
  animation-name: ring;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom left;
}
.console-centerpiece::after {
  padding: 0.3em;
  animation-delay: -4s;
  animation-direction: reverse;
}
.console-centerpiece div,
.console-centerpiece div::before,
.console-centerpiece div::after {
  position: absolute;
  border: 0.4em solid #005f4c;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.console-centerpiece div {
  padding: 1em;
}
.console-centerpiece div::before,
.console-centerpiece div::after {
  content: "";
  display: block;
}
.console-centerpiece div::before {
  margin: -2em;
  opacity: 0.2;
}
.console-centerpiece div::after {
  margin: 1em;
  opacity: 0.8;
}
@keyframes ball {
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@keyframes bar {
  0% {
    width: 2em;
    opacity: 0.6;
  }
  10% {
    width: 5em;
  }
  17% {
    width: 11em;
  }
  20% {
    width: 5em;
    opacity: 0.4;
  }
  27% {
    width: 11em;
  }
  30% {
    width: 5em;
  }
  40% {
    width: 11em;
  }
  47% {
    width: 8em;
    opacity: 0.6;
  }
  50% {
    width: 11em;
    opacity: 0.4;
  }
  57% {
    width: 5em;
  }
  60% {
    width: 8em;
    opacity: 0.6;
  }
  67% {
    width: 2em;
    opacity: 0.4;
  }
  70% {
    width: 5em;
    opacity: 0.6;
  }
  80% {
    width: 11em;
    opacity: 0.4;
  }
  87% {
    width: 5em;
  }
  90% {
    width: 2em;
  }
  97% {
    width: 5em;
    opacity: 0.6;
  }
}
@keyframes area {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 15em;
    height: 15em;
  }
}
@keyframes centerpiece {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 20em;
    height: 20em;
    opacity: 1;
  }
}
@keyframes console {
  0% {
    width: 2em;
    height: 2em;
  }
  50% {
    width: 60em;
    height: 2em;
  }
  100% {
    width: 60em;
    height: 39.8em;
  }
}
@keyframes console-inner {
  0% {
    top: 50%;
    bottom: 50%;
  }
  100% {
    top: 0.4em;
    bottom: 0.4em;
  }
}
@keyframes content {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes corner {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 14em;
    height: 14em;
  }
}
@keyframes holo-cap {
  0% {
    box-shadow:
      0 0 0.4em 0.2em #005f4c inset,
      0 0 0.2em 0.1em #005f4c;
    animation-timing-function: ease-out;
  }
  20% {
    box-shadow:
      0 0 0.8em 0.4em #005f4c inset,
      0 0 0.4em 0.2em #005f4c;
    animation-timing-function: ease-in;
  }
  40% {
    box-shadow:
      0 0 0.4em 0.2em #005f4c inset,
      0 0 0.2em 0.1em #005f4c;
  }
  100% {
    box-shadow:
      0 0 0.4em 0.2em #005f4c inset,
      0 0 0.2em 0.1em #005f4c;
  }
}
@keyframes holo-wall {
  0% {
    box-shadow:
      2em 0 2em -2em #005f4c inset,
      2em 0 2em -2em #005f4c inset,
      -2em 0 2em -2em #005f4c inset,
      -2em 0 2em -2em #005f4c inset,
      0.2em 0 0.4em -0.2em #005f4c,
      -0.2em 0 0.4em -0.2em #005f4c;
    animation-timing-function: ease-out;
  }
  20% {
    box-shadow:
      3em 0 3em -3em #005f4c inset,
      3em 0 3em -3em #005f4c inset,
      -3em 0 3em -3em #005f4c inset,
      -3em 0 3em -3em #005f4c inset,
      0.3em 0 0.6em -0.3em #005f4c,
      -0.3em 0 0.6em -0.3em #005f4c;
    animation-timing-function: ease-in;
  }
  40% {
    box-shadow:
      2em 0 2em -2em #005f4c inset,
      2em 0 2em -2em #005f4c inset,
      -2em 0 2em -2em #005f4c inset,
      -2em 0 2em -2em #005f4c inset,
      0.2em 0 0.4em -0.2em #005f4c,
      -0.2em 0 0.4em -0.2em #005f4c;
  }
  100% {
    box-shadow:
      2em 0 2em -2em #005f4c inset,
      2em 0 2em -2em #005f4c inset,
      -2em 0 2em -2em #005f4c inset,
      -2em 0 2em -2em #005f4c inset,
      0.2em 0 0.4em -0.2em #005f4c,
      -0.2em 0 0.4em -0.2em #005f4c;
  }
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(270deg);
  }
  40% {
    transform: rotate(390deg);
  }
  60% {
    transform: rotate(630deg);
  }
  80% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes waves {
  0% {
    transform: scale(0.2, 2) translateX(0);
  }
  50% {
    transform: scale(0.3, 2) translateX(-20.2em);
  }
  100% {
    transform: scale(0.2, 2) translateX(-20.2em);
  }
}
